<strong>Prezado, {{ name }}</strong>
<p>Confira os detalhes de sua encomenda abaixo:</p>
<p>
  <Strong>Código da entrega: </Strong> {{ code }} <br />
  <Strong>Produto: </Strong> {{ product }} <br />
  <Strong>Recebedor: </Strong> {{ recipient }} <br />
  <Strong>Endereço: </Strong> {{ street }}, {{ number }}  <br />
  <Strong>Complemento: </Strong> {{ complement }} <br />
  <Strong>Cidade: </Strong> {{ state }} - {{ city }} - {{postcode}} <br /> <br />
  <Strong>Lembre-se que o produto só pode ser retirado das 08:00h às 18:00h </Strong>
</p>
